#avatar-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modal canvas {
    cursor: grab;
}

#slider-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#slider {
    margin-left: 10px;
    width: 200px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}